body {
    height: 200vh;
    font-family: futura;
  }
  
  main {
      width: 90vw;
      height: 80vh;
      background: powderblue;
      display:grid;
      grid-template-columns: repeat(30, 3vw);
    }
  


.ghost {
    background: none;
  }
  
    .top {
      background: red;
      color: powderblue; 
      /*
      transform: translateY(-50%);
      max-height: 800px;
      position: fixed;
      */
      animation-duration: 3s;
      animation-name: slide-in;
    }
    
    .mid {
      background: red;
      color: red; 
      transform: translateY(-50%);
      max-height: 800px;
      position: fixed;
      top: 200px;
    }
    
    .bottom {
      background: red;
      color: powderblue; 
      transform: translateY(-50%);
      max-height: 800px;
      position: fixed;
      top: 500px;
    }
    
  .column {
    width: 3vw;
  }
    

  
  @keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }